@page "/"

<PageTitle>Blazor Uploader</PageTitle>

<h1>BlazorUploader WebAssembly demos</h1>

<br />
<br />
<p>The Blazor Uploader Upload Control allows users to select and upload files files from a client computer and save them on the server.</p>
<p>With just a couple of lines of code you can implement Blazor Uploader in both Blazor WebAssembly (WASM) and Server-side Blazor apps.</p>
<br />
<br />
<p>The demos demonstrate how to use Blazor Uploader in Blazor WebAssembly applications.</p>

<br />
<br />
<p>For Server-side Blazor online demos, please visit <a href="http://blazor-server-demos.blazoruploader.com/">Blazor Server Demos</a>. </p>

<br />
<br />
<p>
	You can download the demo source code from download page. <a href="https://blazoruploader.com/download.aspx">https://blazoruploader.com/</a>.
</p>

