@page "/docs/advancedsamples"

<PageTitle>Docs_AdvancedSamples.razor</PageTitle>

<h1>Docs_AdvancedSamples.razor</h1>

<div class="docsection">Advanced Samples</div>
<p>
	This page contains advanced level code examples.
</p>
<ul>
	<li><a href="/button_single_manual">Start uploading manually after file selection</a></li>
</ul>
<p>
	We will make more advanced samples later.
</p>
<p>
	Please contact us if you have any ideas or suggestions.
</p>