@page "/docs/index"

<PageTitle>Documents</PageTitle>

<h1>Documents</h1>

<p>
	The documents tell you the code details for using BlazorUploader
</p>
<p>
	Click the left menu for more document pages
</p>